[Unit]
Description=Aplicacion web flask con  mongodb y sqlserver, bases de datos 2

[Service]
WorkingDirectory=/home/osboxes/repos/bases2-lab/proyecto/systemd/
EnvironmentFile=/home/osboxes/repos/bases2-lab/proyecto/systemd/.flaskenv
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/osboxes/repos/bases2-lab/proyecto/systemd/venv/bin/flask  run --host 0.0.0.0