[Unit]
Description=Deamon de bases de datos 2

[Service]
ExecStart=/home/osboxes/repos/bases2-lab/proyecto/systemd/venv/bin/python  /home/osboxes/repos/bases2-lab/proyecto/systemd/daemon/daemon.py
Environment=PYTHONUNBUFFERED=1